---
layout: page
title: Call for Papers
description: International Workshop on Rewriting Logic and its Applications 2024
background: '/img/2nd.jpg'
---

    <h3 id="workshop-scope">Topics of Interest</h3>
    <!-- <p>Topics of the workshop include the following, but are not limited to:</p> -->
    <p>The topics of the workshop include, but are not limited to:</p>
    <ol>
      <li>Foundations</li>
      <ul>
        <li>foundations and models of rewriting and rewriting logic, including termination, confluence, coherence, and complexity</li>
        <li>unification, generalization, narrowing, and partial evaluation</li>
        <li>constrained rewriting and symbolic algebra</li>
        <li>graph rewriting</li>
        <li>tree automata</li>
        <li>rewriting strategies</li>
        <li>rewriting-based calculi and explicit substitutions</li>
      </ul>
      <li>Rewriting as a Logical and Semantic Framework</li>
      <ul>
        <li>uses of rewriting and rewriting logic as a logical framework, including deduction modulo</li>
        <li>uses of rewriting as a semantic framework for programming language semantics</li>
        <li>rewriting semantics of concurrency models, distributed systems, and network protocols</li>
        <li>rewriting semantics of real-time, hybrid, and probabilistic systems</li>
        <li>uses of rewriting for compilation and language transformation</li>
      </ul>
      <li>Rewriting Languages</li>
      <ul>
        <li>rewriting-based declarative languages</li>
        <li>type systems for rewriting</li>
        <li>implementation techniques</li>
        <li>tools supporting rewriting languages</li>
      </ul>
      <li>Verification Techniques</li>
      <ul>
        <li>verification of confluence, termination, coherence, sufficient completeness, and related properties</li>
        <li>temporal, modal, and reachability logics for verifying dynamic properties of rewrite theories</li>
        <li>explicit-state and symbolic model checking techniques for verification of rewrite theories</li>
        <li>rewriting-based theorem proving, including (co)inductive theorem proving</li>
        <li>rewriting-based constraint solving and satisfiability</li>
        <li>rewriting-semantics-based verification and analysis of programs</li>
      </ul>
      <li>Applications</li>
      <ul>
        <li>applications in logic, mathematics, physics, and biology</li>
        <li>rewriting models of biology, chemistry, and membrane systems</li>
        <li>security specification and verification</li>
        <li>applications to distributed, network, mobile, and cloud computing</li>
        <li>specification and verification of real-time, hybrid, probabilistic, and cyber-physical systems</li>
        <li>specification and verification of critical systems</li>
        <li>applications to model-based software engineering</li>
        <li>applications to engineering and planning.</li>
      </ul>
      <li>Education</li>
      <ul>
        <li>how to design a course in which programming, formal specification,
          formal verification, etc. with Maude, Elan, CafeOBJ, etc. are taught</li>
        <li>examples used in such courses</li>
        <li>how to attract students for such courses</li>
        <li>any issues related to such courses</li>
      </ul>
    </ol>
  
    <hr>

    <h3 id="paper-submission">Paper submissions</h3>
    <p>The program of the workshop will include regular papers, tool papers, education papers, and
     work-in-progress presentations. </p>
      
      <p>
      Regular papers must contain original contributions, be clearly written,
      include appropriate references, and comparison with related work.
    </p>
      <p>
      Tool papers have to present a new tool, a new tool component, or novel
      extensions to an existing tool. They should provide a short description
      of the theoretical foundations with relevant citations, emphasize the
      design and implementation, and give a clear account of the tool's
      functionality. The described tools may be made available via the web.
    </p>
    <p>
      Some of us have courses in which Maude, Elan, CafeOBJ, etc. are taught
or used to teach formal methods, etc. We have not known what related
courses are delivered, what examples are used in such courses, etc.
Thus, the workshop is a time to share some ideas, tips, etc. for
teaching Maude, Elan, and CafeOBJ. Education papers could contain how
to design a course in which formal methods, etc. are taught with
Maude, Elan, CafeOBJ, etc., what examples are used in such courses, etc.
    </p>
    <p>
      Work-in-progress papers present early-stage work or other types of
      innovative or thought-provoking work related to the topics of the
      workshop. The difference between work-in-progress and regular papers is
      that work-in-progress submissions represent work that has not reached
      yet a level of completion that would warrant the full refereed selection
      process. </p>
      
      <p>
      All submissions should be formatted according to the guidelines for
Springer LNCS papers, and should not exceed 16 pages (for regular papers), 10 pages (for tool and education papers), 
and 8 pages (for work-in-progress presentations) excluding bibliography. 
Please carefully read Information for <a target="_blank" href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines">
Authors of Springer Computer Science Proceedings when preparing your papers.</a>
Note that the <a target="_blank" href="https://orcid.org/">ORCID</a> of each author should be included in your papers.
Submissions must be uploaded to the following EasyChair website: 
    <a href="https://easychair.org/conferences/?conf=wrla2024" target="_blank">https://easychair.org/conferences/?conf=wrla2024</a>.</p>
    <ul>
      <li>Paper submission due: <del>January 15</del>&nbsp; <del>January 29</del>&nbsp; February 12, 2024 (AoE)</li>
      <li>Notification: <del>February 26</del>&nbsp; March 11, 2024</li>
      <li><s>Camera-ready: March 11, 2024 (AoE)</s></li>
      <li>Camera-ready for informal pre-proceedings: <del>March 11</del>&nbsp; March 22, 2024 (AoE)</li>
      <li>Camera-ready for formal LNCS post-proceedings: May 19, 2024 (AoE)</li>
    </ul>

    <hr>
    <h3 id="paper-submission">Publication</h3>
    <p>All accepted papers will be presented at the workshop and included in the pre-proceedings, 
      which will be available during the workshop. 
      Following the tradition of the last editions, regular, tool, and invited papers will be published 
      as a volume in Springer's Lecture Notes in Computer Science (LNCS) series to be distributed after the workshop.</p>
      <a href="https://www.springer.com/gp/computer-science/lncs">
        <img class="lncs-logo" src="img/LNCS-Logo.jpg" alt="LNCS">
      </a>
    