---
layout: page
title: Committee
description: International Workshop on Rewriting Logic and its Applications 2024
background: '/img/2nd.jpg'
---

<div class="article__content" itemprop="articleBody">
    <h3 id="paper-submission">Program Committee</h3>
    <ul>
        <li>Erika Abraham, RWTH Aachen, Germany</li>
        <li>Kyungmin Bae, POSTECH, Korea</li>
        <li>Canh Minh Do, JAIST, Japan</li>
        <li>Francisco Durán, Universidad de Málaga, Spain</li>
        <li>Santiago Escobar, Universitat Politècnica de València, Spain</li>
        <li>Maribel Fernández, King's College London, United Kingdom</li>
        <li>Nao Hirokawa, JAIST, Japan</li>
        <li>Alexander Knapp, University Augsburg, Germany</li>
        <li>Temur Kutsia, Johannes Kepler University Linz, Austria</li>
        <li>Alberto Lluch-Lafuente, Technical University of Denmark, Denmark</li>
        <li>Dorel Lucanu, Alexandru Ioan Cuza University, Romania</li>
        <li>Salvador Lucas, Universitat Politècnica de València, Spain</li>
        <li>Narciso Martí-Oliet, Universidad Complutense de Madrid, Spain</li>
        <li>José Meseguer, University of Illinois at Urbana-Champaign, USA</li>
        <li>Aart Middeldorp, University of Innsbruck, Austria</li>
        <li>Masaki Nakamura, Toyama Prefectural University, Japan</li>
        <li>Kazuhiro Ogata, JAIST, Japan, <b>Chair</b></li>
        <li>Peter Ölveczky, University of Oslo, Norway</li>
        <li>Adrián Riesco, Universidad Complutense de Madrid, Spain</li>
        <li>Christophe Ringeissen, INRIA, France</li>
        <li>Camilo Rocha, Pontificia Universidad Javeriana, Colombia</li>
        <li>Traian-Florin Serbanuta, University of Bucharest, Romania</li>
        <li>Carolyn Talcott, SRI International, USA</li>
    </ul>

    <hr>

    <h3 id="paper-submission">Steering Committee</h3>
    <ul>
        <li>Kokichi Futatsugi, JAIST, Japan</li>
        <li>Claude Kirchner, INRIA Research Center Bordeaux - Sud-Ouest, France</li>
        <li>Narciso Martí-Oliet, Universidad Complutense de Madrid, Spain</li>
        <li>José Meseguer, University of Illinois at Urbana-Champaign, USA</li>
        <li>Ugo Montanari, University of Pisa, Italy</li>
        <li>Grigore Rosu, University of Illinois at Urbana-Champaign, USA</li>
        <li>Carolyn Talcott, SRI International, USA</li>
        <li>Martin Wirsing, Ludwig Maximilians Universität München, Germany</li>
    </ul>

    <hr>

    <h3 id="paper-submission">Publicity chair</h3>
    <ul>
        <li>Duong Dinh Tran, JAIST, Japan</li>
    </ul>
</div>