---
layout: home
background: '/img/2nd.jpg'
---

<h3>The 15<sup>th</sup> {{ site.description }}</h3>

<div>
    <p>
      A satellite event of <a href="https://etaps.org/" target="_blank">ETAPS 2024</a>, 
      Luxembourg, April 6-7, 2024.
    </p>
  </div>

  <div style="margin-top: 1em;">
    <p>Rewriting is a natural model of computation and an expressive semantic framework for concurrency, parallelism, communication, and interaction. 
      It can be used for specifying a wide range of systems and languages in various application domains. 
      It also has good properties as a metalogical framework for representing logics. Several successful languages based on rewriting (ASF+SDF, CafeOBJ, ELAN, Maude) have been designed and implemented. 
      The aim of WRLA is to bring together researchers with a common interest in rewriting and its applications, and to give them the opportunity to present their recent work, discuss future research directions, and exchange ideas.
    </p>

    <p>Accepted papers (except for work-in-progress and presentation only one) will be published in Springer's Lecture Notes in Computer Science (LNCS).
      See <a href="/call-for-papers">Call For Papers</a> for the invitation to submit papers.</p>
        <a href="https://www.springer.com/gp/computer-science/lncs">
          <img class="lncs-logo" src="img/LNCS-Logo.jpg" alt="LNCS">
        </a>
  </div>
  
  <hr>

  <div class="article__content" itemprop="articleBody">
    <h3 id="paper-submission">Important dates</h3>
    
    <ul>
      <li>Paper submission due: <del>January 15</del>&nbsp; <del>January 29</del>&nbsp; February 12, 2024 (AoE)</li>
      <li>Notification: <del>February 26</del>&nbsp; March 11, 2024</li>
      <li><s>Camera-ready: March 11, 2024 (AoE)</s></li>
      <li>Camera-ready for informal pre-proceedings: <del>March 11</del>&nbsp; March 22, 2024 (AoE)</li>
      <li>Camera-ready for formal LNCS post-proceedings: May 19, 2024 (AoE)</li>
    </ul>

    <hr>

    <h3 id="news">News</h3>
    
    <ul>
      <li>Best paper/presentation award for young researcher:
        <ol>
          <li>Canh Minh Do</li>
          <li>Geunyeol Yu</li>
        </ol>
      </li>
      <li>2024/03/30: <a href="/files/Pre-Proceedings.pdf">Pre-Proceeding</a> are available.</li>
      <li>2024/03/21: <a href="/program">Workshop program</a> is available.</li>
      <li>2024/03/08: Notification is extended to March 11.</li>
      <li>2024/01/24: Submission deadline is extended to February 12.</li>
      <li>2024/01/12: Submission deadline is extended to <del>January 29</del>.</li>
      <li>2023/10/02: Dates are decided.</li>
      <li>2023/07/06: Website is created.</li>
    </ul>
    
  </div>