---
layout: page
title: Previous Events
description: International Workshop on Rewriting Logic and its Applications 2024
background: '/img/2nd.jpg'
---

<div class="article__content" itemprop="articleBody">
    <h3 id="paper-submission">Previous Events</h3>
      <ul>
        <li><a href="http://sv.postech.ac.kr/wrla2022/">Munich (Germany) 2022</a></li>
        <li><a href="https://wrla2020.webs.upv.es/">Dublin (Ireland) 2020</a></li>
        <li><a href="https://project.inria.fr/wrla18/">Thessaloniki (Greece) 2018</a></li>
        <li><a href="https://fmse.info.uaic.ro/event/wrla2016/">Eindhoven (Netherlands) 2016</a></li>
        <li><a href="http://elp.webs.upv.es/workshops/wrla2014/">Grenoble (France) 2014</a></li>
        <li><a href="http://wrla2012.lcc.uma.es/">Tallinn (Estonia) 2012</a></li>
        <li><a href="http://wrla10.ifi.uio.no/">Paphos (Cyprus) 2010</a></li>
        <li><a href="http://wrla08.cs.uiuc.edu/">Budapest (Hungary) 2008</a></li>
        <li><a href="http://www-formal.stanford.edu/clt/WRLA06/">Vienna (Austria) 2006</a></li>
        <li><a href="http://www.fdi.ucm.es/wrla2004/">Barcelona (Spain) 2004</a></li>
        <li><a href="http://www.di.unipi.it/wrla2002/">Pisa (Italy) 2002</a></li>
        <li>Kanazawa (Japan) 2000</li>
        <li><a href="http://rewriting.loria.fr/WRLA-98/">Pont-a-Mousson (France) 1998</a></li>
        <li>Asilomar (USA) 1996</li>
      </ul>
      
    <hr>
    <h3 id="previous-proceedings">Previous Proceedings</h3>
      
      <ul>
        <li><a href="https://doi.org/10.1007/978-3-031-12441-9">2022 vol. 13252 LNCS</a></li>
        <li><a href="https://doi.org/10.1007/978-3-030-63595-4">2020 vol. 12328 LNCS</a></li>
        <li><a href="https://www.doi.org/10.1007/978-3-319-99840-4">2018 vol. 11152 LNCS</a></li>
        <li><a href="https://www.doi.org/10.1007/978-3-319-44802-2">2016 vol. 9942 LNCS</a></li>
        <li><a href="https://www.doi.org/10.1007/978-3-319-12904-4">2014 vol. 8663 LNCS</a></li>
        <li><a href="https://doi.org/10.1007/978-3-642-34005-5">2012 vol. 7571 LNCS</a></li>
        <li><a href="https://doi.org/10.1007/978-3-642-16310-4">2010 vol. 6381 LNCS</a></li>
        <li><a href="http://www.sciencedirect.com/science/journal/15710661/238/3">2008 vol. 238 ENTCS</a></li>
        <li><a href="http://www.sciencedirect.com/science/journal/15710661/176/4">2006 vol. 176 ENTCS</a></li>
        <li><a href="http://www.sciencedirect.com/science/journal/15710661/117">2004 vol. 117 ENTCS</a></li>
        <li><a href="http://www.sciencedirect.com/science/journal/15710661/71">2002 vol. 71 ENTCS</a></li>
        <li><a href="http://www.sciencedirect.com/science/journal/15710661/36">2000 vol. 36 ENTCS</a></li>
        <li><a href="http://www.sciencedirect.com/science/journal/15710661/15">1998 vol. 15 ENTCS</a></li>
        <li><a href="http://www.sciencedirect.com/science/journal/15710661/4">1996 vol. 4 ENTCS</a></li>
      </ul>
      
    <hr>
    <h3 id="journal-issues">Journal Issues</h3>
      
      <ul>
        <li><a href="https://www.sciencedirect.com/journal/journal-of-logical-and-algebraic-methods-in-programming/special-issue/10HT7LGD2SQ">WRLA 2020 - Journal of Logical and Algebraic Methods in Programming, 2022</a></li>
        <li><a href="https://www.sciencedirect.com/journal/journal-of-logical-and-algebraic-methods-in-programming/special-issue/10R8T94S8FM">WRLA 2018 - Journal of Logical and Algebraic Methods in Programming, 2021</a></li>
        <li><a href="https://www.sciencedirect.com/journal/journal-of-logical-and-algebraic-methods-in-programming/special-issue/10QHD3B3JSJ">WRLA 2016 - Journal of Logical and Algebraic Methods in Programming, 2019</a></li>
        <li><a href="https://www.sciencedirect.com/journal/journal-of-logical-and-algebraic-methods-in-programming/vol/86/issue/1">WRLA 2014 (Part 2) - Journal of Logical and Algebraic Methods in Programming, 2017</a></li>
        <li><a href="https://www.sciencedirect.com/journal/journal-of-logical-and-algebraic-methods-in-programming/vol/85/issue/1/part/P1">WRLA 2014 (Part 1) - Journal of Logical and Algebraic Methods in Programming, 2016</a></li>
        <li><a href="https://www.sciencedirect.com/journal/science-of-computer-programming/vol/99/">WRLA 2012 - Science of Computer Programming, 2015</a></li>
        <li><a href="http://www.sciencedirect.com/science/journal/15678326/81">WRLA 2010 - Journal of Logical and Algebraic Programming, 2012</a></li>
        <li><a href="http://link.springer.com/journal/10990/20/1/page/1">WRLA 2004 - Higher-Order and Symbolic Computation, 2007</a></li>
        <li><a href="http://www.sciencedirect.com/science/journal/03043975/285/2">WRLA 1996 - Theoretical Computer Science, 2002</a></li>
      </ul>
</div>