---
layout: page
title: Program
description: International Workshop on Rewriting Logic and its Applications 2024
background: '/img/2nd.jpg'
---


<h3>Workshop Program</h3>
<p class="program-date">Day 1 (Saturday, April 6)</p>
<table class="program">
  <tr>
    <th>Time</th>
    <th>Content</th>
  </tr>
  <tr class="med-padding gray">
    <td>8:45&nbsp;-&nbsp;9:00</td>
    <td>Opening</td>
  </tr>
  <tr class="large-padding">
    <td>9:00 - 10:00</br>
        <b>Session 1</b></td>
    <td>Francisco Durán.</br>
      <a href="#invited-tutorial-1">New advances in Maude 3.4 (invited tutorial)</a>.
    </td>
  </tr>
  <tr class="large-padding gray">
    <td>10:00 - 10:30</td>
    <td>Break</td>
  </tr>
  <tr>
    <td rowspan="3">10:30 - 12:00</br>
                    <b>Session 2</b>
    <td>Jose Meseguer.</br>
        Equivalence, and Property Internalization and Preservation for Equational Programs.
    </td>
  </tr>
  <tr class="gray">
    <td>Canh Minh Do and Kazuhiro Ogata.</br>
        Equivalence Checking of Quantum Circuits Based on Dirac Notation in Maude.
    </td>
  </tr>
  <tr>
    <td>Carlos Olarte, Carlos Ramirez, Camilo Rocha and Frank Valencia.</br>
        Unified Opinion Dynamic Modeling as Concurrent Set Relations in Rewriting Logic.
    </td>
  </tr>
  <tr class="large-padding gray">
    <td>12:00 - 14:00</td>
    <td>Lunch</td>
  </tr>
  <tr>
    <td rowspan="3">14:00 - 16:00</br>
                    <b>Session 3</b></td>
    <td>Francisco Durán.</br>
      <a href="#invited-tutorial-2">NuITP: A New Theorem Prover for Maude Specifications (invited tutorial)</a>.
    </td>
  </tr>
  <tr class="gray">
    <td>Kyungmin Bae, Santiago Escobar, Raúl López-Rueda, Jose Meseguer and
        Julia Sapiña.</br>
        Verifying Invariants by Deductive Model Checking.
    </td>
  </tr>
  <tr>
    <td>Rubén Rubio, Narciso Marti-Oliet, Isabel Pita and Alberto Verdejo.</br>
        Specifying fairness constraints and model checking with non-intensional strategies.
    </td>
  </tr>
  <tr class="large-padding gray">
    <td>16:00 - 16:30</td>
    <td>Break</td>
  </tr>
  <tr>
    <td rowspan="2">16:30 - 18:00</br>
                    <b>Session 4</b></td>
    <td>Adrian Riesco.</br>
      <a href="#invited-tutorial-3">The CafeInMaude tool set (invited tutorial)</a>.
    </td>
  </tr>
  <tr class="gray">
    <td>Duong Dinh Tran and Kazuhiro Ogata.</br>
        Verifying safe memory reclamation in concurrent programs with CafeOBJ.
    </td>
  </tr>
</table>

<p class="program-date">Day 2 (Sunday, April 7)</p>
<table class="program">
  <tr>
    <th>Time</th>
    <th>Content</th>
  </tr>
  <tr class="large-padding gray">
    <td>9:00 - 10:00</br>
        <b>Session 5</b></td>
    <td>Peter Ölveczky.</br>
      <a href="#invited-tutorial-4">Design and Validation of Cloud Storage Systems using Maude (invited tutorial)</a>.
    </td>
  </tr>
  <tr class="large-padding">
    <td>10:00 - 10:30</td>
    <td>Break</td>
  </tr>
  <tr class="gray">
    <td rowspan="3">10:30 - 12:00</br>
                    <b>Session 6</b>
    <td>Michael Lienhardt.</br>
        The hrewrite library: a term rewriting engine for automatic code assembly.
    </td>
  </tr>
  <tr>
    <td>Geunyeol Yu and Kyungmin Bae.</br>
        A Flexible Framework for Integrating Maude and SMT Solvers Using Python.
    </td>
  </tr>
  <tr class="gray">
    <td>Santiago Escobar, Narciso Marti-Oliet and Rubén Rubio.</br>
        Towards a strategy language for narrowing in Maude.
    </td>
  </tr>
  <tr class="large-padding">
    <td>12:00 - 14:00</td>
    <td>Lunch</td>
  </tr>
  <tr class="gray">
    <td rowspan="3">14:00 - 16:00</br>
                    <b>Session 7</b>
    <td>Kyungmin Bae.</br>
      <a href="#invited-tutorial-5">Formal Model Engineering of Distributed Cyber-Physical Systems in AADL</br> using Maude  (invited tutorial)</a>.
    </td>
  </tr>
  <tr>
    <td>Tajana Ban Kirigin, Jesse Comer, Max Kanovich, Andre Scedrov and Carolyn Talcott.</br>
        Time-Bounded Resilience.
    </td>
  </tr>
  <tr class="gray">
    <td>Carlos Olarte and Peter Csaba Ölveczky.</br>
        Timed Strategies for Real-Time Rewrite Theories.
    </td>
  </tr>
  <tr class="large-padding">
    <td>16:00 - 16:30</td>
    <td>Break</td>
  </tr>
  <tr class="gray">
    <td rowspan="2">16:30 - 17:30</br>
                    <b>Session 8</b></td>
    <td>Peter Ölveczky.</br>
        Teaching an Advanced Maude-based Formal Methods Course in Oslo.
    </td>
  </tr>
  <tr>
    <td>Kazuhiro Ogata.</br>
        Teaching Functional Programming and Program Verification in CafeOBJ at JAIST.
    </td>
  </tr>
  <tr class="large-padding">
    <td>17:30 - 17:45</td>
    <td>Closing</td>
  </tr>
</table>

<h4 style="margin-top:32px">Invited tutorial information</h4>
<div class="tutorial-info">
<p id="invited-tutorial-1" class="tut-title">1. New advances in Maude 3.4</p>
<p class="tut-author">by Francisco Durán, University of Málaga, Spain.</p>
<p class="tut-abstract">Maude is a High-Performance Logical Framework providing
  specification, programming, and verification of systems written
  in Rewriting Logic. This tutorial will report on the new features
  available in Maude 3.4.</p>

<p id="invited-tutorial-2" class="tut-title">2. NuITP: A New Theorem Prover for Maude Specifications</p>
<p class="tut-author">by Francisco Durán, University of Málaga, Spain.</p>
<p class="tut-abstract">NuITP is an inductive theorem prover for Maude equational
  specifications that combines powerful state-of-the-art techniques
  such as narrowing, equality predicates, constructor variant
  unification, order-sorted congruence closure, ordered rewriting,
  strategy-based rewriting, and several others in order to reason
  about Maude equational programs. This tutorial will introduce the
  main features of the tool through various examples.</p>

<p id="invited-tutorial-3" class="tut-title">3. The CafeInMaude tool set</p>
<p class="tut-author">by Adrian Riesco, Universidad Complutense de Madrid, Spain.</p>
<p class="tut-abstract">CafeOBJ is a specification language that has been used for verifying
    a wide variety of systems. In recent years, CafeInMaude, a CafeOBJ
    interpreter implemented in Maude, has served as the underlying
    platform for developing various formal tools to enhance the verification
    experience. Specifically, we have implemented: (i) the CafeInMaude
    Proof Assistant (CiMPA), an inductive theorem prover for CafeOBJ
    specifications; (ii) the CafeInMaude Proof Generator (CiMPG), which
    generates CiMPA scripts from proof scores; and (iii) the CafeInMaude
    Proof Generator & Fixer-Upper (CiMPG+F), which generates CiMPA
    scripts from scratch. We summarize the main features of these tools,
    the benchmarks used to evaluate them, and their future challenges.</p>

<p id="invited-tutorial-4" class="tut-title">4. Design and Validation of Cloud Storage Systems using Maude</p>
<p class="tut-author">by Peter Ölveczky, University of Oslo, Norway.</p>
<p class="tut-abstract">Today's large cloud-based applications (e.g., Gmail, Facebook, etc.)
  store and manipulate enormous amounts of data, that, furthermore, must
  be available all the time.  In addition, such applications must be
  both correct and have high performance.</p>
  
<p class="tut-abstract">To deal with large amounts of data while offering high availability
  and  throughput and low latency, cloud computing systems rely on
  distributed, partitioned, and replicated data stores. Such cloud
  storage systems are complex software artifacts that are very hard to
  design, analyze, and implement.</p>
  
<p class="tut-abstract">I argue that Maude, together with a statistical model checker such as
  PVeStA, should be a suitable tool to model and formally
  analyze both the correctness and the performance of complex cloud
  storage designs early in the development process. This is not only
  useful to arrive at correct designs, but also to very early compare
  the expected performance of different design choices.</p>
  
<p class="tut-abstract">This talk summarizes work done in the context of UIUC's Center
  for Assured Cloud Computing to apply Maude to a wide range of
  state-of-the-art cloud transaction systems, such as Apache Cassandra,
  Google's Megastore, UC Berkeley's RAMP transactions, and variations of
  these.  I discuss how the model-based performance estimates
  relate to real implementations, and also how a correct design can be
  automatically transformed into a correct-by-construction distributed
  implementation that can execute real workloads (e.g., YCSB workloads).</p>
  
<p class="tut-abstract">Finally, I briefly summarize the experiences of the use of a different
  formal method for similar purposes by engineers at Amazon Web
  Services.</p>

<p id="invited-tutorial-5" class="tut-title">5. Formal Model Engineering of Distributed Cyber-Physical Systems in
  AADL using Maude</p>
<p class="tut-author">by Kyungmin Bae, Pohang University of Science and Technology, South Korea.</p>
<p class="tut-abstract">Formal model engineering, equipping industrial modeling tools
  with automatic formal analysis capabilities, is a promising way
  of integrating formal methods into the model development
  process. However, supporting formal model engineering for
  cyber-physical systems (CPSs) introduces several
  challenges. These include the high expressiveness of industrial
  modeling languages, the difficulty of exhaustive model-checking
  analysis due to asynchronous behaviors, and the intricate mix of
  advanced control programs with continuous behaviors typical in
  many CPSs.</p>

<p class="tut-abstract"> This talk outlines our approach to supporting efficient formal
model engineering for synchronous CPS designs using the
industrial CPS modeling standard AADL. We have identified a
suitable sublanguage of AADL, called Synchronous AADL, that can
naturally define the synchronous designs of CPSs, including those
with continuous behaviors. We have defined the formal semantics
of Synchronous AADL in rewriting logic and developed the
HybridSynchAADL tool, an extension of the OSATE tool environment
for AADL with automatic formal analysis capabilities via Maude
and SMT solving.</p>

<p class="tut-abstract">
  Our approach effectively addresses the challenges by leveraging
  the expressive power of Maude for control programs, integrating
  Maude and SMT solving for analyzing continuous behaviors, and
  focusing on synchronous designs to enhance analysis efficiency.
  Additionally, we show how synchronizers, such as PALS, TTA, and
  MSYNC, can verify the correctness of distributed CPS
  implementations based on their synchronous designs. We summarize
  our experiences on applications such as industrial avionics
  control systems, airplane turning algorithms, and collaborating
  drones.
</p>


</div>