<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/call-for-papers" | relative_url }}">Call for Papers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/program" | relative_url }}">Program</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/committee" | relative_url }}">Committee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/previous-events" | relative_url }}">Previous Events</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
