---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

p.attribution{
    color:white;
    margin: 2px 2px;

}
footer {
    padding: 10px 0 25px;
}
footer p.copyright {
    margin-top: 10px;
}
p{
    text-align: justify;
}
img.lncs-logo{
    height: 80px;
}

/* If the screen size is 577px wide or more*/
@media screen and (min-width: 577px) {
p.attribution {
    font-size: small;
}
}
/* If the screen size is 576px wide or less*/
@media screen and (max-width: 576px) {
p.attribution {
    font-size:xx-small;
}
}
table.program {
font-size: 15px;
border-collapse: collapse;
width: 100%;
// margin-top: 32px;
}

table.program td, table.program th {
  border: 1px solid #ddd;
  padding: 2px 7px;
}

table.program tr.gray{background-color: #f2f2f2;}
table.program td.gray{background-color: #f2f2f2;}
table.program tr.large-padding td{
  padding-top: 10px;
  padding-bottom: 10px;
}
table.program tr.med-padding td{
  padding-top: 5px;
  padding-bottom: 5px;
}
table.program th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: #0085A1;
  color: white;
}
p.program-date {
  margin-top:24px;
  margin-bottom: 0px;
}
div.tutorial-info p:not(.tut-title){
  font-size: 15px;
}
div.tutorial-info p.tut-title{
  margin-bottom: 0px;
}
div.tutorial-info p.tut-author{
  margin-top: 0px;
  margin-bottom: 10px;
}
div.tutorial-info p.tut-abstract{
  margin-top: 10px;
  margin-bottom: 10px;
}

html, body{
  height:100%
}
body {
  display: flex;
  flex-direction: column;
}
body div.container {
  flex: 1 0 auto;
}
hr {
  width: 100%;
}