---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            <!-- <h1>{{ page.title }}</h1> -->
            <!-- {% if page.description %} -->
            <!-- <span class="subheading">{{ page.description }}</span> -->
            <!-- {% endif %} -->
          </div>
        </div>
      </div>
    </div>
    <p class="attribution">Luxembourg city. Photo by Manu on Unsplash</p>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">

        {{ content }}

      </div>
    </div>
  </div>
